.showTimeMovies .ant-tabs-nav-wrap {
  justify-content: center;
}
.showTimeMovies .ant-tabs-nav-list {
  justify-content: center;
  width: 100%;
}
.showTimeMovies > .ant-tabs-nav {
  margin-bottom: 0;
  height: 50px;
}
.showTimeMovies .ant-tabs-tab {
  background-color: mintcream;
  width: calc(100% / 6);
  margin-left: 0;
  padding: 3%;
  border-right: 1px solid burlywood;
  border-left: 1px solid burlywood;
}
.showTimeMovies .ant-tabs-tab:hover {
  border-color: brown;
  background-color: #e1f7fd;
}
.showTimeMovies .ant-tabs-tab .ant-tabs-tab-btn {
  width: 100%;
  height: 100%;
}

.showtimeList .ant-tabs-nav {
  width: 100%;
}
.showtimeList .ant-tabs-nav .ant-tabs-nav-wrap {
  height: 110px;
  overflow-y: auto;
  scroll-snap-type: y;
  align-items: flex-start;
}
.showtimeList .ant-tabs-content-holder {
  height: 120px;
  overflow-y: auto;
  scroll-snap-type: y;
  align-items: flex-start;
  width: 100%;
}
.showtimeList .ant-tabs-nav .ant-tabs-nav-list {
  flex-direction: column;
  width: 100%;
}
.showtimeList .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab {
  width: 100%;
  height: 40%;
  padding: 10px 15px;
}
.showtimeList .ant-tabs-ink-bar {
  display: none;
}
.showtimeList .item {
  height: 50%;
  padding: 10px 15px;
}
.showtimeList .item img {
  width: 70%;
  height: 80%;
}
.showtimeList .ant-tabs-content-holder .ant-tabs-content,
.showtimeList .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane {
  height: 100%;
}
.showtimeList .itemShowtime {
  overflow-x: auto;
  scroll-snap-type: x;
}
@media only screen and (min-width: 640px) {
  .showTimeMovies > .ant-tabs-nav {
    height: 100px;
  }
  .showtimeList .ant-tabs-nav .ant-tabs-nav-wrap {
    height: 145px;
  
  }
}
@media only screen and (min-width: 768px) {
  .showtimeList .ant-tabs-nav {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .showTimeMovies  .ant-tabs-nav-list {
    width: 60%;
  }

  .showtimeList .item {
    height: 40%;
  }

  .showtimeList .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab {
    height: 120px;
  }
}
