.footer .footerPartner img ,.footer .footerApp img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.footer .title {
    font-size: 20px;
    font-weight: bold;

}
@media only screen and (min-width: 768px) {
    .footer .title {
        font-size: 25px;
    }
  }
